

*{
    margin:0;
    padding:0;
box-sizing: border-box;

}
body{
    background-color:whitesmoke;
background-image;
}


head{

background-color:ligtcoral;
color: aqua;

}

 h1{
color: aqua;
margin-top: 30px;
text-align: center  ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
header{

background-color:wheat;
display: flex;
height: 60px;
justify-content: space-around;
align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
}
ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: peru;
display: inline-block;
}
li a::after{
    content: '';
    display: block;
    height: x;
width: 0px;
background: cyan;
transition: all.5s;
}

nav a{
     color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
  }


nav ul li a:hover{
  background-color: black;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px white;
}

main{
    display: flex;
    border: 2px solid black
    align items:center;
    justify-content: center;
}
.hero img{
    max-width: 670px;
    height: auto;
    background-color:  rgb(246, 244, 242);
    


}

/*.content-left{
    width: 100%;


*/
 h1{
    text-align: center;
    font-size: 50px;
    font-display: block;
    color:rgb(101, 33, 33);
    transform: uppercase;
    background-color: antiquewhite;
    animation-name:myAnimation ;
   animation-duration: 3s;
    
}

@keyframes myAnimation{

    100%{background-color: white;}
    50%{background-color:lightgrey;}
    10%{background-color: rgb(124, 101, 81);}
}
h3{
    color:black;
    font: size 400px;
    letter spacing 8px;
    text-font;italic;
text-align: left;

}
main h1{
    font-size: 50px;
    font-display: block;
    color:rgb(35, 33, 33);
    transform: uppercase;
    text-font:Bradley Hand ITC;
}
main h2{
    color: rgb(145, 65, 19);;
    font: size 400px;
    letter spacing 8px;
    text-font;italic;
}
    .cta{
        padding: 15px 30px;
        background: purple;
        background: rgb(190, 34, 34);
        outline: none;
        border: none;
        text-transform: uppercase;
        border-radius: 50px;
    }
footer{
    background-color: ;
    padding: 8px;
    color: thistle;
    margin-top: 2rem;
    text-align: center;
}

.hero-img{
    display: block;
    margin: 10pxauto 60px auto;
    padding-top: 100px;
    padding-left:20px;


}







footer{
    background-color: rgb(32, 42, 25);
color: white;
text-align: center;
padding: 15px;
margin-top: 20px;

}
